  /* Criando a classe*/

  .cartao {
    display: block;
    width: 300px;
    height: 280px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    border-style: outset;
    background-color: rgb(255, 255, 255);
  }


  .forms {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
  }

  .fundo {
    background-color: lightblue;
  }
